.preloader__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader__spinner {
    width: 34px;
    height: 34px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}